services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432  # Dentro del contenedor sigue siendo 5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=mydb
    depends_on:
      postgres_db:
        condition: service_healthy
    command: sh -c "npm start"

  postgres_db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # - ./bdd.sql:/docker-entrypoint-initdb.d/init.sql  # Descomenta después si lo necesitas
    ports:
      - "5433:5432"  # CAMBIA AQUÍ: 5433 en tu máquina, 5432 dentro del contenedor
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: